{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">{{message}}</div>
{% endfor %}

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{{path('creationAttractions')}}" class="btn btn-success">Ajouter une Attraction</a>
      <span class="badge badge-primary badge-pill"></span>
    </li>
</ul>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>

    {% for attractions in attractions %}    

      <tr>
        <td><img src="{{asset('img/attractions/' ~ attractions.image)}}" class="card-img"></td>
        <td>{{attractions.name}}</td>
        <td>{{attractions.description|length > 100 ?attractions.description|slice(0, 100) ~ '...' : attractions.description}}</td>
        <td><a href="{{path('modifAttractions', {'id' : attractions.id}) }}" class="btn btn-warning">Modifier</a></td>
        <td>
            <form method="POST" style="display:inline-block" action="{{path('suppAttractions', {'id' : attractions.id})}}" onsubmit="return confirm('Confirmer la suppression ?')">
            <input type="hidden" name="_method" value="SUP">
            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ attractions.id)}}">
            <input type="submit" class="btn btn-danger" value="Supprimer">
            </form>
        </td>
      </tr>

    {% endfor %}

    </tbody>
  </table> 
  <div class="navigation">
    {{ knp_pagination_render(attractions) }}
  </div>

{% endblock %}
