{% extends 'base.html.twig' %}

{% block title %}Les Restaurants{% endblock %}

{% block body %}

      <!-- Page Content Restaurants -->
      <div class="container" style="padding-top:50px">
        <a href=""><h1>Les Restaurants:</h1></a>
          <div class="row">
          {% for restaurants in restaurants %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <div class="card h-100">
                <a href="{{path('restaurants', {'id': restaurants.id })}}"><img class="card-img" src="{{asset('img/restaurants/' ~ restaurants.image)}}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{path('restaurants', {'id': restaurants.id })}}">{{restaurants.nom}}</a>
                  </h4>
                  <p class="card-text">{{restaurants.description|length > 100 ?restaurants.description|slice(0, 100) ~ '...' : restaurants.description}}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
          <!-- /.row -->
        <!-- /.container -->

{% endblock %}
